@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
    width: 12px;
    border: 3px solid black;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #2c3e50;
    border-radius: 10px;
    border: 3px solid black;
}

::-webkit-scrollbar-thumb:hover {
    background: #2c3e50;
}

/* Scrollbar styles for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #2c3e50 #f1f1f1;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

*::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background-color: #2c3e50;
    border-radius: 10px;
    border: 3px solid black;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #2c3e50;
}

body {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #faf8f0;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1,
h2 {
    color: #2c3e50;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #222;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

li {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #fff;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    color: #222;
}

th {
    background-color: #2c3e50;
    color: #fff;
}

td {
    background-color: #ecf0f1;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #2980b9;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.highlight {
    background-color: #717171;
    color: #fff;
}